---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { PrismaClient } from '@prisma/client'

const prisma = new PrismaClient()
const sorteios = await prisma.sorteioGrupoTeste.findMany();
---

<Layout title="Roleta">
	<main>
		<a href="/sorteios/novo">Criar Sorteio</a>
		
		<p>Sorteios: {sorteios.length}</p>

		<ul>
			{sorteios.map((sorteio) => (
				<li>{sorteio.nome}</li>
			))}
		</ul>
	</main>
</Layout>