---
import { getSession } from "auth-astro";
import { SignIn, SignOut } from "auth-astro/components";
import { PrismaClient } from "@prisma/client";
import { authOpts } from "./api/auth/[...astroauth]";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

const session = await getSession(Astro.request, authOpts);

const prisma = new PrismaClient();
const sorteios = await prisma.sorteioGrupoTeste.findMany();
---

<Layout pageTitle="Roleta" session={session}>
	<a href="/sorteios/novo">Criar Sorteio</a>

	<p>Sorteios: {sorteios.length}</p>

	<ul>
		{sorteios.map((sorteio) => <li>{sorteio.nome}</li>)}
	</ul>
</Layout>
